extends layout



block content

  - var time = 10
  
  if type == 'error'
    h1 参数<font color="red">wx</font>必须
  else if type == 'timeout'
    h1 当前抓完一轮了，让我们休息<font color='red'>#{Math.floor(timeout/1000/60)}分#{Math.floor(timeout/1000%60)}秒</font>哦
  else if type == 'nothing'
    h1 当前微信号(编号 wx = #{wx})<font color="red">无数据</font>哦， 我会#{time}秒刷新一次哦
  else if type = 'canNext'
    h1 准备就绪！
    p #{time}秒后将自动进入抓取流程


  script.
    var type = '#{type}'
    var wx = #{wx}
    var exact = #{exact}
    var timeout = #{timeout}
    if (type == 'timeout') {
      setTimeout(() => location.href='/readlike/?&action=nothing&wx=#{wx}', timeout)
    }
    if (type == 'nothing') {
      setTimeout(() => location.href='/readlike/?&action=nothing&wx=#{wx}', #{time}*1000)
    }
    if (type == 'canNext') setTimeout(() => location.href='http://mp.weixin.qq.com/s?__biz=MzA5NTIyMjQzNg==&mid=2650672501&idx=1&sn=5a50461859c0902d2b23b0cd1539327e&chksm=884802bebf3f8ba804def6133d5dcb160c2f161b97b42bc0c97b81205c869f340bc8ace47e65&type=24&wx=#{wx}&scene=27#wechat_redirect', #{time}*1000);
    
    

     

